html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: white;

}

a {
    outline: 0;
}

/* ********login********** */

.login-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.loginform {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    position: relative;
    z-index: 2;

}

#filtre {
    position: absolute;
    width: 100%;
    min-height: 600px;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
    top: 0;
}

.loginform {
    position: relative;
    background: #FFFFFF;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.loginform input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.loginform button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #A52A2A;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.loginform button:hover, .loginform button:active, .loginform button:focus {
    background: #800000;
}

.titlechannel {
    border-bottom: 1px solid darkgrey;
    margin-bottom: 3px;
}

.titlechannel .title {
    font-size: 1.6em;
    text-transform: uppercase;
    padding-top: 3px;

}

.titlechannel h2 {
    margin-top: 10px;

}

#list_message {
    overflow-y: scroll;
    postion: relative;
    font-size: medium;
}

#list_message .row {
    margin: 0;
    padding: 0;
}

#list_message .author {
    font-weight: bold;

}

#list_message .date {
    color: darkgrey;
    font-size: small;
}

#zonemessage {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#page-content-wrapper, .container-fluid {
    height: 100%;
}

.form-control:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;

}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 3;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    background: #A52A2A;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

#button_menu {
    position: absolute;
    top: 0;
    z-index: 2;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;

}

.sidebar-nav li .channel, .addchannel, .addchannel:visited, #pseudonyme {
    display: block;
    text-decoration: none;
    color: #FFB2B2;
}

.channel{
    margin-bottom:-40px;
}

.sidebar-nav li .channel:hover {
    text-decoration: none;
    color: #fff;
    background: #800000;
}

.sidebar-nav li .addchannel:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav .active {
    color: #fff;
    background: #800000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: #800000;
}

.dropdown-toggle {
    margin: 0;

}

.dropdown-menu {
    position: absolute;
    top: 55px;
    left: 10px;
}

.dropdown-menu li a {
    color: black;
}

#zonemessage .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.input-group-addon {
    background: white !important;
}

.input-group {
    padding-bottom: 3px;
    padding-top: 3px;
}

#zonemessage .input-group button, .titlechannel button{
    border: 0;
    background: transparent;
}

#sidebar-wrapper{
    overflow-x: hidden;
}

.glyphicon-remove-sign{
    display:inline;
    position: relative;
    left:160px;
    color: #FFB2B2;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition:  opacity .25s ease-in-out;
}

.glyphicon-remove-sign:hover{
    text-decoration: none;
    opacity: 1;
    color:white;
}

.glyphicon-remove-sign:visited{
    color: #FFB2B2;
}




@media (min-width: 768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 220px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
